.PostPrev{
     width: 100%; 
    height: 300px;
    display: flex;
    /* border-top: 5px solid #000000;
    border-bottom: 5px solid #000000; */
}

.PostPrev .Number{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15em;
    font-weight: bold;
    color: #000000;
    width: 15%;
    height: 100%;
    background-color: #fff;
    border: #000000 10px solid;
    border-radius: 5px;
}

.PostPrev .Issue-wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin-left: 20px;
}

.PostPrev .Issue-wrapper .Head-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20%;
    margin-top: 20px;
}

.PostPrev .Issue-wrapper .Head-wrapper .Title{
    font-size: 2em;
    font-weight: bold;
    width: 800px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.PostPrev .Issue-wrapper .Head-wrapper .updated_at{
    color :#6941c6;
    font-size: 1.5em;
}

.PostPrev .Issue-wrapper .Text{
    font-size: 1.5em;
    margin-top: 20px;
    color:#c3c5d0;
    cursor: pointer;
    height: 300px;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}